@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Libre+Baskerville:wght@700&family=Lora:wght@700&family=Playfair+Display:wght@700&family=Raleway:wght@300;400&display=swap');



body {
    background: rgb(240, 234, 225);
    display: grid;
    place-content: center;;
    height: 100vh;

}

.container {
    background: #F9F8F4;
    font-weight: normal;
    max-width: 25rem;
    padding: 2rem 2rem;
    border-radius: 0.4rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    color: rgb(56, 56, 56);
    box-shadow: 2px 2px 2px rgba(175, 166, 132, 0.3);
    position: relative;
}


h2 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: rgb(0, 0, 0);
}
.score {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 2rem;
    font-weight: 700px;

}
.question {
    font-weight: 500;
    color: rgb(67, 67, 67);
}
.input{
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.quiz-icon {
    width: 8rem;
    opacity: 75%;
    display: block;
    margin: 0 auto;
}
.bubbleImg {
    width: 5rem;
}

.resultContainer {
    margin-top: 2rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: rgb(108, 108, 108);
}

.btn {
    display: block;
    margin: 1.5rem auto 0rem auto;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    background: rgb(73, 149, 73);
    color: rgb(240, 234, 225);
    font-weight: bold;
    letter-spacing: 1.1px;
    font-size: 1rem;
    cursor: pointer;
}
